{% extends 'layouts/base.html.twig' %}

{% block title %}Edit your pin{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1> Edit Your Pin #{{ pin.id }}</h1>
            {{include('pins/_form.html.twig', {'submitButtonText' : 'Edit Pin'})}}
        </div>
    </div>

{% endblock %}